a {
    text-decoration: none;
    outline: none;
    color: #000;
}

* {
    margin: 0;
    padding: 0;
}

.box3 {
    height: 40px;
    width: auto;
    background-color: #555;
}

.box3 a {
    float: left;
    font-size: 20px;
    line-height: 40px;
    margin-left: 30px;
}